.rect-container{
    width: 200px;
    height: 100px;
    display: inline-block;
    box-sizing: border-box;
}   
#one {
    position: absolute;
    margin-left: 10px;
    background-color: red;
}
#two {
    position: absolute;
    margin-left: 230px;
    background-color: yellow;
}
#three {
    position: absolute;
    margin-left: 450px;
    background-color: green;
}
